body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

.hidden {
  display: none;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.codeBox {
  font-size: 50px;
  font-weight: bold;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
}

#allImages img {
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}
