body {
    font-family: Arial;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

button {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background: #008cff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #006fd1;
}

#gallery img {
    border: 2px solid #ccc;
    margin: 10px;
}
