body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

.hidden {
  display: none;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
}

.bigCode {
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0;
}
